.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5vh;
}

.num-input {
  border: none;
  background-color: inherit;
  color: rgb(118,118,118);
  font-size: inherit;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-ending{
  font-size: 10vh;
  user-select: none;
}

.result{
  color: rgb(214, 201, 102);
}

.divider{
  margin-left: 2%;
  margin-right: 2%;
  font-size: 10vh;
  user-select: none;
}