.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5vh;
}

.num-input {
  border: none;
  background-color: inherit;
  color: rgb(118,118,118);
  font-size: inherit;
  text-align: right;
}

.input-ending{
  font-size: 10vh;
}

.result{
  color: rgb(255, 255, 255);
}