.main-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5vh;
  font-size: 15vh
}

.title{
  text-decoration: underline;
}