body {
  margin: 0;
  font-family: "Gill Sans Extrabold", sans-serif;
  color:aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(46, 46, 46);
}

